<mat-toolbar color="primary">
  <header>
    <h1>{{ title }}</h1>
  </header>
</mat-toolbar>
<div class="container">
  <div class="alt-wrapper">
  <form class="example-form" (ngSubmit)="create(); alternativeForm.reset();" #alternativeForm="ngForm">
    <p>Добавьте вариант:</p>
    <mat-input-container class="example-full-width">
      <input matInput name="nameAlternative" [(ngModel)]="newAlternativeName" placeholder="Название варианта" required>
    </mat-input-container>
    <button mat-button type="submit" [disabled]="alternativeForm.form.invalid">Добавить</button>

  </form>

  <mat-nav-list *ngIf="decisionArray.length">
    <h3 mat-subheader>Список вариантов</h3>
    <mat-list-item *ngFor="let alternative of decisionArray">
      <h4 mat-line>{{alternative.name}}</h4>
      <p mat-line>id: {{alternative.id}}</p>
      <button mat-icon-button (click)="editAlternative(alternative)"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="delete(alternative)"><mat-icon calss="exampple-icon">delete_forever</mat-icon></button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-nav-list>
  </div>

  <div class="alt-btns">
    <button mat-raised-button (click)="goBack()">Вернуться назад</button>
    <button mat-raised-button type="submit" (click)="goNext()">Далее</button>
  </div>

</div>
