<!--<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" color="primary">
    <button mat-menu-item (click)="goHome()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item (click)="goCreateDecision()">
      <mat-icon>add_box</mat-icon>
      <span>Create decision</span>
    </button>
    <button mat-menu-item (click)="goViewDecision()">
      <mat-icon>visibility</mat-icon>
      <span>View decisions</span>
    </button>
    <button mat-menu-item (click)="goRegistration()">
      <mat-icon>visibility</mat-icon>
      <span>Registration</span>
    </button>
  </mat-menu>

  <h1 class="mat-title">{{ title }}</h1>

 </mat-toolbar>

<nav id="navbar-header" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <button  class="login btn-primary btn" id="login-button-header" data-toggle="modal"
            data-target="#openModal" > <span class="glyphicon glyphicon-log-in"></span> Войти</button>
  </div>
</nav>
<div id="openModal" class="modal fade" aria-labelledby="openModal" tabindex="-1" aria-hidden="true" role="dialog"  >
 <app-user-component></app-user-component>
</div>-->


<nav id="navbar-header" class="navbar navbar-default navbar-fixed-top  " role="navigation">
  <div class="container-fluid">
    <div class="logo">
      <p>Desision</p>
    </div>
    <ul class="nav navbar-nav navbar-center">
      <li class="active"><a href="#">О нас</a></li>
      <li><a href="#">На главную</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
    <button class="btn-primary btn" id="login-button-header" *ngIf="authGuard.isActivate() == false" data-toggle="modal" data-target="#openModal"> <span class="glyphicon glyphicon-log-in"></span> Войти</button>
    <button class="btn-primary btn" id="login-button-header" *ngIf="authGuard.isActivate() == true" data-toggle="modal" data-target="#openLogout"> <span class="glyphicon glyphicon-log-in"></span> Выйти</button>
  
  </div>
</nav>
<div id="openModal" class="modal fade" aria-labelledby="openModal" tabindex="-1" aria-hidden="true" role="dialog">
  <app-user-component></app-user-component></div>
<div id="openLogout" class="modal fade" aria-hidden="true" aria-labelledby="openLogout" tabindex="-1" role="dialog">
    <app-logout></app-logout></div>