<mat-toolbar color="primary">
  <header>
    <h1>{{ title }}</h1>
  </header>
</mat-toolbar>

<table *ngIf="decision">
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let alternative of decisionArray">{{ alternative.name }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let criteria of decisionArray[0].criteriaArray">
      <td>{{ criteria.name }}</td>
      <td *ngFor="let alternative of decisionArray">{{ alternative.criteriaArray[criteria.id - 1]['valueRate'] }}</td>
    </tr>
  </tbody>
</table>

<table class="example-full-width" cellspacing=20>
  <tr>
    <td>
      <button mat-raised-button (click)="goCreateCriterion()">ADD CRITERIA</button>
    </td>
    <td>
      <button mat-raised-button (click)="goCreateAlternative()">ADD ALTERNATIVE</button>
    </td>
    <td>
      <button mat-raised-button (click)="saveDecision()">SAVE DECISION</button>
    </td>
  </tr>
</table>

<table class="example-full-width" cellspacing=20>
  <tr>
    <td>
      <button mat-raised-button (click)="goBack()">CANCEL</button>
    </td>
    <td>
      <button mat-raised-button (click)="goNext()">CONFIRM</button>
    </td>
  </tr>
</table>
