<br>
<h1 style="text-align:center">
  Далее необходимо осуществить парные сравнения смысловых <br>
  значений критериев выбора для расчёта приоритетов
</h1>
<pre>
  <h3 style="margin-left:280px">
    Сравните на сколько одно из значений критерия важнее для Вас чем другое в соответствии со шкалой: 
    - равнозначные критерии (одинаково важны при выборе)
    - между равнозначностью и умеренным превосходством
    - умеренное превосходство одного критерия над другим
    - между умеренным и сильным превосходством
    - сильное превосходство одного критерия над другим
    - между сильным и очень сильным превосходством
    - очень сильное превосходство одного критерия над другим
    - между очень сильным и высшим превосходством
    - высшее (крайнее) превосходство  одного критерия над другим. 
    
  </h3>
</pre>
<table class="example-full-width" style="margin-left:40%" cellspacing=20>
  <tr>
    <td>
      <button mat-raised-button type="submit" (click)="goNext()" style="width:200px">CONFIRM</button>
    </td>
  </tr>
</table>
