<div *ngIf="decision">

  <h3 class="mat-display-1">{{ decision.title }} detalis!</h3>

  <table>
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let alternative of decisionArray">{{ alternative.name }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let criteria of decisionArray[0].criteriaArray">
        <td>{{ criteria.name }}</td>
        <td *ngFor="let alternative of decisionArray">{{ alternative.criteriaArray[criteria.id - 1]['valuePriority'] }}</td>
      </tr>
    </tbody>
  </table>

</div>
