<br><br><br><br><br><br><br><br>
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      
    </mat-panel-title>
    <mat-panel-description>
      {{panelOpenState ? 'Инструкция' : 'Инструкция'}}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <pre>
    <h3>
      Сравните на сколько одно из значений критерия важнее для Вас чем другое в соответствии со шкалой:
      - равнозначные критерии (одинаково важны при выборе)
      - между равнозначностью и умеренным превосходством
      - умеренное превосходство одного критерия над другим
      - между умеренным и сильным превосходством
      - сильное превосходство одного критерия над другим
      - между сильным и очень сильным превосходством
      - очень сильное превосходство одного критерия над другим
      - между очень сильным и высшим превосходством
      - высшее (крайнее) превосходство  одного критерия над другим.

    </h3>
  </pre>
</mat-expansion-panel>
<br>
<form>
    <h1>
        Осуществите попарное сравнение значений
    </h1>
    <h3>
         Осталось {{counter}} сравнений
    </h3>
     <div>
         <h3 *ngIf="choose">{{firstCriteria}} в сравнении с {{secondCriteria}} имеет</h3>
         <h3 *ngIf="!choose">{{secondCriteria}} в сравнении с {{firstCriteria}} имеет</h3>
    
      <mat-form-field>
        <mat-select [(ngModel)]="selectedValue" name="value" >
          <mat-option *ngFor="let value of values" [value]="value.value">
           {{value.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <br>
  <div>
  <button mat-raised-button (click)="swap()">Поменять местами критерии в фразе</button>
  <button mat-raised-button (click)="saveAnswerInArray()" *ngIf="end == false">Сохранить</button>
  <button mat-raised-button (click)="goNext()" *ngIf="end == true">Далее</button>
  </div>
</form>
