<md-toolbar color="primary">
  <header>
    <h1>{{ title }}</h1>
  </header>
</md-toolbar>

<div class="center-section">
  <div>
  <form class="example-form" (ngSubmit)="create(); decisionForm.reset()" #decisionForm="ngForm">
    <table class="example-full-width" cellspacing=20>
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput name="title" [(ngModel)]="newDecisionTitle" placeholder="Name of decision" required>  
          </md-input-container>
        </td>
        <td>
          <!-- <button md-button type="submit" [disabled]="decisionForm.form.invalid">Add</button> -->
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button (click)="goBack()">CANCEL</button>
        </td>
        <td>
          <button md-raised-button type="submit" [disabled]="decisionForm.form.invalid" (click)="goNext()">CONFIRM</button>
        </td>
      </tr>
    </table>    
  </form>

  <table cellspacing=20>
    <tr>
      
    </tr>
  </table>
  </div>
</div>