<br>

<h1>Результирующая матрица</h1>
<table *ngIf="decision" class="tree">
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let alternative of decision.decisionArray"><sup>{{ alternative.finalRate}}%</sup>{{ alternative.name }}</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let number of decision.decisionArray[0].criteriaArray; index as i">
        <th> <sup>{{number.rate}}</sup>{{number.name}}</th>
        <th *ngFor="let alternative of decision.decisionArray">
          <div>
            <p id = {{alternative.criteriaArray[i].id}}>
              <sup>{{alternative.criteriaArray[i].valuePriority}}</sup>{{alternative.criteriaArray[i].value}}
            </p>
          </div>
           </th>
      </tr>
  </tbody>
</table>
<div>
  <button mat-raised-button (click)="changeTree()">Изменить исходное дерево решений</button>
</div>
<div>
  <button mat-raised-button (click)="deleteTree()">Удалить дерево решений</button>
  <button mat-raised-button (click)="goNext()">На главную</button>
</div>

