<mat-toolbar color="primary">
  <header>
    <h1>{{ title }}</h1>
  </header>
</mat-toolbar>

<form class="example-form" (ngSubmit)="create(); criteriaForm.reset()" #criteriaForm="ngForm">
  <table class="example-full-width" cellspacing=20>
    <tr>
      <td>
        <mat-input-container class="example-full-width">
          <input matInput name="title" [(ngModel)]="newCriteriaName" placeholder="Name of criteria" required>  
        </mat-input-container>
      </td>
      <td>
         <button mat-button type="submit" [disabled]="criteriaForm.form.invalid">Add</button>
      </td>        
    </tr>         
  </table>    
</form>

<mat-nav-list *ngIf="criteriaArray.length">
  <h3 mat-subheader>Criteria Add</h3>
  <mat-list-item *ngFor="let criteria of criteriaArray">
    <h4 mat-line>{{criteria.name}}</h4>
    <p mat-line>id: {{criteria.id}}</p>
    <button mat-icon-button (click)="editCriteria(criteria)"><mat-icon>edit</mat-icon></button> 
    <button mat-icon-button (click)="delete(criteria)"><mat-icon calss="exampple-icon">delete_forever</mat-icon></button>    
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-nav-list>

<table class="example-full-width" cellspacing=20>
  <tr>
    <td>
      <button mat-raised-button (click)="goBack()">CANCEL</button>
    </td>
    <td>
      <button mat-raised-button type="submit" (click)="goNext()">CONFIRM</button>
    </td>
  </tr>
</table>