<md-toolbar color="primary">
  <header>
    <h1>{{ title }}</h1>
  </header>
</md-toolbar>

<form class="example-form" (ngSubmit)="create(); criteriaForm.reset()" #criteriaForm="ngForm">
  <table class="example-full-width" cellspacing=20>
    <tr>
      <td>
        <md-input-container class="example-full-width">
          <input mdInput name="title" [(ngModel)]="newCriteriaName" placeholder="Name of criteria" required>  
        </md-input-container>
      </td>
      <td>
         <button md-button type="submit" [disabled]="criteriaForm.form.invalid">Add</button>
      </td>        
    </tr>         
  </table>    
</form>

<md-nav-list *ngIf="criteriaArray.length">
  <h3 md-subheader>Criteria Add</h3>
  <md-list-item *ngFor="let criteria of criteriaArray">
    <h4 md-line>{{criteria.name}}</h4>
    <p md-line>id: {{criteria.id}}</p>
    <button md-icon-button><md-icon>edit</md-icon></button> 
    <button md-icon-button (click)="delete(criteria)"><md-icon calss="exampple-icon">delete_forever</md-icon></button>    
  </md-list-item>
  <md-divider></md-divider>
</md-nav-list>

<table class="example-full-width" cellspacing=20>
  <tr>
    <td>
      <button md-raised-button (click)="goBack()">CANCEL</button>
    </td>
    <td>
      <button md-raised-button type="submit" (click)="goNext()">CONFIRM</button>
    </td>
  </tr>
</table>