.header {
  height: 100vh;

  background: #fffbec ;
  padding-left: auto;
  padding-right: auto;
}

.docs-header-section {
  text-align: center;
  padding-top: 60px;
}

.docs-header-headline {
  color: rgb(51, 51, 51);
}

.docs-header-start {
  text-align: center;
  margin: 20px;
}
